body{
     background-color: #00022f;
     margin: 0px
     }
footer{
       background-color: black;
       border:solid;
       }
p,h1,h3 {
   color: white
   }
a{
  color: white;
  text-decoration: none;
  }
#image {
        height: auto
        }
#current_page{
           color:darkblue
           }
#profile{
         width: 50px;
         height: 50px; 
         border: solid; 
         border-radius: 50%;
         }
#float{
       float: left;
       }

.header{
      height:160px;
      background-color:black;
      border:solid;
      }
.center{
        text-align:center
        }

.link{
      color: #05e4ee
      }
.text{
      color: #05e4ee
      }
.box{
     height: auto;
     border: solid;
     border-color: blue;
     border-radius: 15px;
     width: 200px;
     background-color: #070b0d;
     margin: 20px 20px  20px 20px;
     overflow: hidden;
     display: inline-block;
     padding: 2px
     }
.container{
           background-color: #00011a;
           border: solid;
           border-color: #00011a;
           border-radius: 15px;
           margin: 20px 20px  20px 20px;
           overflow: hidden;
            }
.box img{
         width: 100%;
         height: 100%;
         object-fit:contain;
         padding:0px;
         }
#hover:hover{
             color:#05e4ee
             }
.header .nav_bar:hover{
               color:cyan
               }
#boxlink:hover{
                border-color: #a5f9ff
                }
.box .description{
                  text-align: center;
                  color: white;
                  }
